@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(99, 99, 99);
}

#container{
    display: grid;
    grid-template-areas: 
    'header'
    'section';

    min-width: 1000px;
    height: auto;
    padding: 1%;
    background-color: rgb(32, 32, 32);
}

#header{
    grid-area: header;
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
}

#logo{
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2%;
}

#logo img{
    width: 50%;
    height: auto;
    margin: auto;
}

#logo h1{
    width: auto;
    height: auto;
    font-size: 45pt;
    margin: auto;
    color: rgb(180, 179, 179);
}

#menuPrincipal{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuPrincipal button{
    width: 8%;
    height: auto;
    margin: auto;
    padding: 1%;
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid rgb(54, 54, 54);
    background-color: rgb(70, 70, 70);
    transition: 0.1s;
    box-shadow: 5px 5px 15px -8px rgb(0, 0, 0);
}

#menuPrincipal button:hover{
    background-color: rgba(49, 49, 49, 0.7);
}

#menuPrincipal button img{
    width: 100%;
    height: auto;
    margin: auto;
}

#usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 2% auto 0 auto;
    padding: 1%;
}

#usuario img{
    width: 6%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    border: 3px solid rgb(70, 70, 70);
}

#usuario h1{
    font-size: 18pt;
    text-align: left;
    color: rgb(180, 179, 179);
}

#usuario h1 p{
    font-size: 10pt;
    color: rgb(180, 179, 179);
}

#usuario p#hora{
    width: 150px;
}

#usuario p{
    margin: auto;
    font-size: 18pt;
    font-weight: 600;
    color: rgb(180, 179, 179);
}

#section{
    grid-area: section;
    display: flex;
    align-items: initial;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 2% auto auto auto;
    position: relative;
    gap: 3%;
}

#menuLateral{
    position: relative;
    width: 280px;
    height: auto;
    padding: 1%;
    background-color: rgb(70, 70, 70);
}

#menuLateral button{
    position: relative;
    display: flex;
    align-items: initial;
    justify-items: initial;
    width: 100%;
    height: auto;
    margin: 0 0 4% 0;
    padding: 3%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}

#menuLateral button:hover{
    background-color: rgb(99, 99, 99);
}

#menuLateral button img{
    width: 13%;
    margin: auto 10% auto 10%;
}

#menuLateral button p{
    margin: auto;
    font-size: 15pt;
    font-weight: 600;
    margin: 5px;
    color: rgb(180, 179, 179);
}

#ultimasOcorrencias{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(128, 128, 128);
}